<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student confirmation</title>
</head>
<body>
    <h3>Student confirmation</h3>
    <p th:text="'Student ' + ${student.firstName} + ' ' + ${student.lastName} + ' (' + ${student.country} + ') has been added to the database.'"></p>
    <p th:text="'Favorite language: ' + ${student.favoriteLanguage}"></p>
    <p>Operating systems:</p>
    <ul>
        <li th:each="os: ${student.operatingSystems}" th:text="${os}"></li>
    </ul>
</body>
</html>